.sidebar {
    &-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.625rem;

        &-item {
            font-size: 1rem;
            text-decoration: none;
            padding: 0.625rem;
            display: flex;
            gap: 0.313rem;
            border: 1px solid rgba(0, 0, 0, .3);
            border-radius: 8px;
        }

        &-item:hover,
        &-item-selected {
            box-shadow: 0 0 8px rgba(0, 0, 0, .5);
            color: #000;
        }
    }
}