.page-layout {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 2rem;
  padding: 1rem;
}

.header-text {
  font-size: 1.5rem;
  font-weight: 600;
}


@media (max-width: 1024px) {
  .page-layout {
    max-width: 100%;
    overflow: auto;
  }
}